INSERT INTO EIS_T.BTEQ_LOGS
(JOB_NAME
,SUB_AREA
,JOB_STRT_DATE
,JOB_STRT_TMSTMP
,JOB_STATUS
,USERNAME
,SESSION_ID)
SELECT
'{{SCRNME}}'
,'eis'
,CURRENT_DATE
,TO_TIMESTAMP_NTZ(current_timestamp)
,'{{STATUS}}'
,'BTEQ_EIS_USER'
,CURRENT_SESSION()
;
